<div id="nav" class="nav">
   <section id="button-drawer">
     <button id="toggle-collapse"></button>
     <button id="toggle-nightmode"></button>
   </section>
   <div class="nav__scroll"> 
        <div class="nav__inner"> 
            <h4>Files</h4>

            {{#each dirs}}

                <span class="dir__title" title="{{this.title}}">
                    {{@key}}
                </span>

                <div class="dir__content">
                        <ul class="fix">

                        {{#if this.length }}

                        {{#each this }}
                            <li>
                                <a  href="#"
                                    data-file="{{this._id}}"
                                    title="{{this.path}}"
                                    {{#if this.selected}}class="active"{{/if}}
                                    />
                                    {{this.name}}
                                </a>
                            </li>
                        {{/each}}

                        {{else}}

                            <li>
                                <span>No files!</span>
                            </li>

                        {{/if}}

                        </ul>
                    </span>
                </div>
            {{/each}}
        </div>

        <a class="author" href="https://github.com/Adjective-Object/markdown-live" target="_blank">
            markdown-live
        </a>
    </div>
</div>

<section class="section__document">
    <iframe 
        style="width: 100%"
        onload="this.style.height=this.contentWindow.document.body.scrollHeight + 'px'"
        id="document__body" 
        class="document__body"
        srcdoc="<link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;/css/{{current.type}}-document.css&quot;/>{{{escape-quotes current.content }}}">
    </iframe>
</section>

