<div id="nav" class="nav">
   <section id="button-drawer">
     <button id="toggle-collapse"></button>
     <button id="toggle-nightmode"></button>
   </section>
   <div class="nav__scroll"> 
        <div class="nav__inner"> 
            <h4>Files</h4>

            {{#each dirs}}

                <span class="dir__title" title="{{this.title}}">
                    {{@key}}
                </span>

                <div class="dir__content">
                        <ul class="fix">

                        {{#if this.length }}

                        {{#each this }}
                            <li>
                                <a  href="#"
                                    data-file="{{this._id}}"
                                    title="{{this.path}}"
                                    {{#if this.selected}}class="active"{{/if}}
                                    />
                                    {{this.name}}
                                </a>
                            </li>
                        {{/each}}

                        {{else}}

                            <li>
                                <span>No files!</span>
                            </li>

                        {{/if}}

                        </ul>
                    </span>
                </div>
            {{/each}}
        </div>

        <a class="author" href="http://www.mobily.pl" target="_blank">
            www.mobily.pl
        </a>
    </div>
</div>

<section class="section__markdown">
	<h4 class="markdown__heading">{{active.filename}}</h4>
	<div class="markdown__body markdown-body">
        {{{ current.content }}}
	</div>
</section>

